/* Uses colors from https://ethanschoonover.com/solarized/ licensed
 * under the terms of the MIT license.
 */
@media (prefers-color-scheme: dark) {
  :root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base0: #657b83;
    --base1: #839496;
    --base2:  #93a1a1;
    --base3: #eee8d5;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    accent-color: var(--magenta);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--green);
  }

  code, kbd, pre, samp {
    color: var(--cyan);
  }
}

@media (prefers-color-scheme: light), @media (prefers-color-scheme: no-preference) {
  :root {
    --base3: #93a1a1;
    --base2: #839496;
    --base1: #657b83;
    --base0: #586e75;
    --base01: #073642;
    --base02:  #002b36;
    --base03: #eee8d5;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    accent-color: var(--yellow);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--red);
  }

  code, kbd, pre, samp {
    color: var(--blue);
  }
}
